@import "config";
body {
  // background-color: $secondary-color;
  // height: 100vh;

  font-size: 2.4rem;
  // font-family: "Rubik", sans-serif;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin btn {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: white;
  background-color: $primary-color;
  // height: 3.5rem;
  border-radius: 15px;
  padding: 2rem 6rem;
  @include Flebo-parallel;

  // font-size: 1.4rem;
  font-weight: 500;
}
.container {
  max-width: $desktop-view;
  margin: 0 auto;
  padding: 0 5rem;
}
.hero {
  background-color: aliceblue;
  padding-top: 4rem;
  h1 {
    font-size: 8rem;
  }
}
.nav {
  margin-bottom: 14rem;
  @include Flebo-parallel;
  justify-content: space-between;
  .btn--open-nav-menu,
  .btn--close-nav-menu {
    display: none;
  }
  &__name {
    @include Flebo-parallel;
    gap: 2.4rem;
    p {
      font-size: 3.6rem;
      color: white;
    }
    &__logo {
      height: 7.8rem;
    }
  }
  nav {
    @include Flebo-parallel;
  }
  &__links {
    @include Flebo-parallel;
    gap: 5.8rem;
    .link {
      text-decoration: none;
    }
  }
  ul {
    list-style: none;
    li {
      padding: 0.1rem 0.1rem;
      .link {
        text-decoration: none;
        color: white;
      }
    }
  }
  .btn--login {
    text-decoration: none;
    cursor: pointer;
    margin-left: 5.8rem;
    padding: 2rem 4rem;
    background-color: white;
    border-radius: 15px;
    color: #3e94fe;
  }
}
.hero {
  position: relative;
  padding-bottom: 24rem;
  &__header {
    margin-bottom: 3.6rem;
    position: relative;
    h1 {
      max-width: 96rem;
      margin: 0 auto;
      margin-bottom: 8rem;
      color: white;
      text-align: center;
      span {
        color: #2b6bb9;
      }
    }
    &__btn {
      @include Flebo-parallel;
      height: 7rem;
      cursor: pointer;
      width: 7rem;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border: 1px solid rgb(255, 4, 4);
      background-color: rgba(255, 255, 255, 0.03);
      &--right {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
      &--left {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
  &__btn {
    position: relative;
    @include Flebo-parallel;
    cursor: pointer;
    height: 7rem;
    width: 7rem;

    border-radius: 50%;
    // border: 1px solid rgba(255, 255, 255, 0.5);
    border: 1px solid rgb(255, 4, 4);
    background-color: rgba(255, 255, 255, 0.03);

    background-color: #3e94fe;
    margin: 0 auto;
    &__design {
      @include Flebo-parallel;
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
      // border: 1px solid rgba(255, 255, 255, 0.5);
      border: 1px solid rgb(255, 4, 4);
      background-color: rgba(255, 255, 255, 0.03);

      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
}
.hero__footer {
  box-shadow: 0px 50px 100px 0px #3e94fe26;

  width: $desktop-view;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  padding: 4rem 6rem;
  background-color: #fff;
  .form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
      .icon {
        margin-bottom: 2rem;
      }
      &__option {
        margin-bottom: 3rem;
        font-size: 2.6rem;
        font-weight: bolder;
        color: #000000;
      }
      &__select {
        width: 24rem;
        border: none;
        color: #12171ea7;
        font-size: 2rem;
        border-bottom: solid 1px rgba(18, 23, 30, 0.6545);
        padding-bottom: 1rem;
      }
    }
  }
  .btn {
    @include btn;
    font-size: 2.5rem;
  }
}
.featured-cities {
  margin-top: 20rem;
  &__cities {
    .images {
    }
  }
}
